.slider_container {
  margin-top: 45px;
  margin-left: -20px;
  width: 80%;
  position: relative;
  height: 60px;
}

.slider {
  appearance: none;
  width: 100%;
  height: 18px;
  background: linear-gradient(90deg, black 50%, white 50%);
  border-radius: 12px;
  opacity: 0.8;
  transition: all 0.2s;
  box-shadow: 0px 1px 10px 1px black;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  appearance: none;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: white;
  cursor: pointer;
  border: 2px solid;
  position: relative;
  right: 1px;
}

.slider::after {
  content: "1000";
  color: black;
  position: absolute;
  left: 96%;
  font-size: 18px;
  top: 50%;
}

.slider::before {
  content: "0";
  color: black;
  position: absolute;
  left: 0%;
  font-size: 18px;
  top: 50%;
}

.price {
  margin-top: 40px;
}


