.flexContainer {
  display: flex;
  align-items: start;
  justify-content: space-between;
  margin: 125px 0 165px 0;
  padding: 0 7.5% ;
}

.productImg {
  height: 570px;
  background-color: #f5f5f5;
  border-radius: 4px;
  image-rendering: pixelated;
}

.productInfo {
  width: 500px;
}

.productFirstBlock {
  border-bottom: 1px solid rgb(0, 0, 0, 50%);
  margin-bottom: 24px;
}

.productTitle {
  font-weight: 600;
  font-size: 24px;
  font-family: "Inter", sans-serif;
  margin-bottom: 16px;
}

.starImg {
  margin-right: 3px;
}

.productReviews {
  margin-right: 5px;
  font-size: 14px;
  opacity: 0.5;
}

.productStock {
  font-size: 14px;
  color: #00ff66;
  opacity: 0.6;
}

.productPrice {
  margin: 16px 0 24px;
  font-family: "Inter", sans-serif;
  font-size: 24px;
  font-weight: 400;
}

.productDescription {
  max-width: 400px;
  margin-bottom: 24px;
}

.productSecondBlock {
  margin-bottom: 40px;
}

.productSize {
  font-family: "Inter", sans-serif;
  font-size: 20;
  font-weight: 400;
  display: inline-block;
  margin-right: 24px;
}

.productSizeButton {
  border-radius: 4px;
  border: 1px rgb(0, 0, 0, 50%) solid;
  margin-right: 16px;
  height: 32px;
  width: 32px;
  background-color: #fff;
  cursor: pointer;
  margin-bottom: 24px;
}

.productSizeButton:not(.activeSize):hover {
  background-color: #e07575;
  color: #fff;
}

.activeSize {
  color: #fff;
  background-color: #db4444;
  border: none;
}

.productButtonSection {
  display: flex;
  column-gap: 16px;
}

.productCounterBlock {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 160px;
  height: 45px;
}

.productCounterDescription {
  height: 45px;
  width: 80px;
  font-weight: 500;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px rgb(0, 0, 0, 50%) solid;
  border-left: none;
  border-right: none;
}

.productMinus,
.productPlus {
  height: 45px;
  width: 42px;
  font-size: 24px;
  border: 1px rgb(0, 0, 0, 50%) solid;
  background-color: #fff;
  cursor: pointer;
}

.productMinus:hover,
.productPlus:hover {
  background-color: #DB4444;
  color: #fff;
}

.productMinus:hover{
    border-right: none;
}

.productPlus:hover{
    border-left: none;
}

.productMinus {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

.productPlus {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.productMinus:disabled{
  background-color: #fff;
  border: 1px rgb(0, 0, 0, 50%) solid;
  font-size: 24px;
  color: rgb(0, 0, 0, 50%);
  cursor: auto;
}

.productBuyNowBtn {
  background-color: #db4444;
  border-radius: 4px;
  padding: 10px 48px;
  border: none;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
}

.productLikeBtn {
  height: 45px;
  width: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  border-radius: 4px;
  border: 1px rgb(0, 0, 0, 50%) solid;
  cursor: pointer;
}

.productThirdBlock {
  padding: 24px 0;
  border: 1px rgb(0, 0, 0, 50%) solid;
  border-radius: 4px;
}

.productDeliveryBlock {
  display: flex;
  column-gap: 16px;
  align-items: center;
}

.productDeliveryBlock img {
  width: 40px;
  height: 40px;
}

.productDeliveryBlockFirst,
.productDeliveryBlockSecond {
  padding-left: 16px;
}

.productDeliveryBlockFirst {
  padding-bottom: 16px;
  border-bottom: 1px solid #000;
}

.productDeliveryBlockSecond {
  padding-top: 16px;
}
