.flex_cart_box__header_item {
  text-shadow: 0 4px 4px rgb(0, 0, 0, 25%);
}

.flex_cart_box__main_item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 1px 13px 0 rgb(0, 0, 0, 5%);
  padding: 25px 20px 25px 40px;
  margin-bottom: 40px;
  position: relative;
}

.flex_cart_box__main_item div{
  width: 150px;
  text-align: center;
}

.flex_cart_box__main_item .flex_cart_box__main_item_product_part{
  display: flex;
  align-items: center;
  gap: 20px;
  text-align: left;
  white-space: nowrap;
}

.delete_product_btn{
  position: absolute;
  width: 30px;
  height: 30px;
  border: none;
  background-color: transparent;
  right: 10px;
  top: 10px;
  cursor: pointer;
  display: none;
}

.delete_product_btn img{
  width: 100%;
}

.flex_cart_box__main_item:hover .delete_product_btn{
  display: block;
}

.cart_product_img{
  width: 100px;
  height: 100px;
}

.countOfProduct{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.countOfProduct button{
  border: none;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  font-size: 18px;
  cursor: pointer;
}

.countOfProduct button:disabled{
  cursor: auto;
  opacity: 0.7;
}

.countOfProduct button:hover{
  background-color: #DB4444;
  color: #fff;
}