.cart-container{
  margin-bottom: 140px;
}

.flex-cart-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 80px;
  flex-wrap: wrap;
}

.flex-cart-box__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 24px 60px 24px 90px;
  box-shadow: 0 1px 13px 0 rgb(0, 0, 0, 5%);
  font-size: 16px;
  margin-bottom: 40px;
}

.flex-cart-box__main {
  width: 100%;
}

.empty-cart{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
  flex-direction: column;
  margin-bottom: 80px;
  font-weight: 400;
  font-size: 26px;
}

.return-to-shop-btn{
  padding: 16px 48px;
  font-size: 16px;
  font-weight: 500;
  background-color: #fff;
  border-radius: 4px;
  border: 1px solid rgb(0, 0, 0, 50%);
  cursor: pointer;
}

.return-to-shop-btn:hover{
  background-color: #000;
  color: #fff;
}

.flexbox{
  display: flex;
  align-items: start;
  justify-content: space-between;
}

.input-cart-coupon{
  padding: 16px 24px;
  width: 300px;
  font-size: 16px;
  border: 1px solid #000;
  border-radius: 4px;
  margin-right: 16px;
}

.cart-red-btn{
  font-size: 16px;
  font-weight: 500;
  border-radius: 4px;
  color: #fff;
  background-color: #DB4444;
  border: none;
  padding: 16px 48px;
  cursor: pointer;
}

.cart-total{
  padding: 32px 24px;
  border-radius: 4px;
  border: 2px solid #000;
}

.cart-total_title{
  font-size: 20px;
  font-weight: 500;
  line-height: 28px;
  margin-bottom: 24px;
}

.cart-total_item{
  width: 450px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 16px;
}

.cart-total_item:not(:nth-last-child(2)){
  border-bottom: 1px solid #000;
  padding-bottom: 16px;
}

.total-cert-btn-container{
  display: flex;
  justify-content: center;
}


