.flex-box {
  display: flex;
  column-gap: 60px;
}

.flex-box_inside {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.products-box {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin-top: 60px;
  column-gap: 30px;
  row-gap: 65px;
  margin-bottom: 80px;
  overflow-y: scroll;
  height: 85vh;
}

.product {
  height: 350px;
}

.head-product-info{
  position: relative;
}

.discountPercentage{
  position: absolute;
  left: 12px;
  top: 12px;
  border-radius: 4px;
  background-color: #DB4444;
  color: #FAFAFA;
  padding: 4px 12px;
  font-size: 12px;
  font-weight: 400;
}

.wishlistBtn{
  position: absolute;
  right: 12px;
  top: 12px;
  border: none;
  background-color: #fff;
  border-radius: 50%;
  height: 36px;
  width: 36px;
  cursor: pointer;
}

.wishlistBtn img{
  position: relative;
   top: 3px
}

.product-img{
  width: 100%;
  background-color: #F5F5F5;
  margin-bottom: 8px;
  border-radius: 4px;
}

.addToCartBtn{
  width: 100%;
  background-color: #000;
  color: #fff;
  border: none;
  font-size: 16px;
  font-weight: 500;
  padding: 8px 0;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  position: absolute;
  z-index: 1;
  bottom: 12px;
  left: 0;
}


.product-title, .product-price{
  font-size: 16px;
  font-weight: 500;
}

.product-price{
  color: #DB4444;
  margin-bottom: 8px;
}

.product-price span{
  text-decoration: line-through;
  opacity: 0.5;
  color: #000;
  margin-left: 8px;
}

.product-rating{
  display: flex;
  align-items: center;
}

.product-rating img{
 margin-right: 3px;
}

.product-rating span{
  text-decoration: none;
  font-weight: 600;
  font-size: 14px;
}
