* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

a {
  font-family: "Poppins", sans-serif;
  color: black;
  text-decoration: none;
}

ul{
  list-style: none;
}

.container {
  width: 82%;
  margin: auto;
}

.smallContainer {
  width: 76%;
  margin: auto;
}

.home-path-link {
  opacity: 0.5;
}

.home-path-link:hover {
  opacity: 0.8;
}

.pages-path {
  margin-top: 110px;
  margin-bottom: 80px;
}

